<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key/>
	<string/>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Not effectively used (required for react-native-permissions)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>Not effectively used (required for react-native-permissions)</string>
	<key>NSMotionUsageDescription</key>
	<string>Not effectively used (required for react-native-permissions)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleVersion</key>
	<string>9</string>
	<key>NSCameraUsageDescription</key>
	<string>Would like access to your camera to change your profile picture</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.0</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Not effectively used (required for react-native-permissions)</string>
	<key>FacebookAppID</key>
	<string>301945323939544</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>codepush.blob.core.windows.net</key>
			<string/>
			<key>codepushupdates.azureedge.net</key>
			<string/>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>codepush.azurewebsites.net</key>
			<string/>
		</dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>location-services</string>
	</array>
	<key>FacebookDisplayName</key>
	<string>Spot IN</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb301945323939544</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>it.spotin.spotinapp</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Would like to save photos to your gallery to change your profile picture</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CodePushDeploymentKey</key>
	<string>$(CODEPUSH_KEY)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Spot In</string>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Hairline.ttf</string>
		<string>Lato-HairlineItalic.ttf</string>
		<string>Lato-Heavy.ttf</string>
		<string>Lato-HeavyItalic.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Medium.ttf</string>
		<string>Lato-MediumItalic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Semibold.ttf</string>
		<string>Lato-SemiboldItalic.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-ThinItalic.ttf</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Would like access to your photo gallery to change your profile picture</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Not effectively used (required for react-native-permissions)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Spot In ha bisogno della tua posizione per poter trovare i locali più vicini a te</string>
</dict>
</plist>
